{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %} 



{% block content %} 

<body>

    <div class = "container bg-light shadow-sm p-5 form-layout">

        <h3> Update record </h3>

        <h6> Start updating your details </h6>


        <hr>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{form.as_p}}

            <br>

            <button type="submit" class="btn btn-info"> Update record &nbsp; 

                <i class="fa fa-plus" arial-hidden="true"></i>



            </button>
            

        </form>

    </div>

</body>







{% endblock %}